# =========================
# Python
# =========================
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.py[cod]
*$py.class

# Build
build/
dist/
*.egg-info/

# Virtual Environment
venv/
.venv/
env/
ENV/
.env/
.env

# =========================
# IDE
# =========================
.vscode/    
.idea/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Database
# =========================
*.db
*.sqlite
*.sqlite3

# =========================
# Alembic
# =========================
alembic/__pycache__/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Environment
# =========================
# KHÔNG ignore .env
# .env